.calculator__buttons {
  max-width: 686px;
  margin: 0 auto;
}

.calculator__form {
  /* border: 2px solid gray; */
  border-radius: 10px;

  background-color: #F8F8F8;

  max-width: 686px;
  margin: 0 auto;
  padding: 50px;
}

.calculator__body-sizes {
  display: flex;
}

.body-size {
  margin: 0;
  cursor: pointer;
}